
  <row>
    <columns small="12" large="6">
        <ul>
        <li>2018 Hurricane Season is coming!</li>
        <li>Secure the training now that will propel you above your peers and allow you to excel during the next hurricane season!</li>
        <li>The best adjusters close the most files with the least amount of issues because of their Xactimate expertise - Be the first choice for IA firms and the first to deploy!</li>
        <li>Qualified Adjusters will be given the opportunity to join multiple top IA firm rosters</li>
        </ul>
    </columns>
    <columns small="12" large="6">
        Sign Up now and let us show you how to
        <ul>
            <li>Reduce your costs and maximize your income</li>
            <li>Increase your estimating accuracy and efficiency utilizing proven Xactimate methodologies and processes</li>
            <li>Provide high quality estimates in a shorter cycle time</li>
            <li>Close the most claims!</li>
        </ul>
    </columns>
</row>